/*.loader {*/
/*    border: 16px solid #f3f3f3;*/
/*    border-radius: 50%;*/
/*    border-top: 16px solid #3498db;*/
/*    width: 120px;*/
/*    height: 120px;*/
/*    -webkit-animation: spin 2s linear infinite; !* Safari *!*/
/*    animation: spin 2s linear infinite;*/
/*}*/

/*!* Safari *!*/
/*@-webkit-keyframes spin {*/
/*    0% { -webkit-transform: rotate(0deg); }*/
/*    100% { -webkit-transform: rotate(360deg); }*/
/*}*/

/*@keyframes spin {*/
/*    0% { transform: rotate(0deg); }*/
/*    100% { transform: rotate(360deg); }*/
/*}*/
.tips{
    border: 0px;
    width: 33%;
    height: auto;
    margin-right: 1rem;
    text-align: center;
    aspect-ratio: 1/1;
}
@media (max-width: 1300px) {
    #info-mobile{
        display: flex;
    }
    .info{
        display: none;
    }
}
@media(min-width: 1300px){
    #info-mobile{
        display: none;
    }
    .info{
        display: flex;
    }
}
#progress-bar{
    flex-grow: 1;
    background-color: #aac9fa;
    height: 2rem;
    border-radius: 0px 5px 5px 0px;
}
#progress-chart{
    width: 2%;
    background-color: #639fff;
    height: 2rem;
    border-radius: 5px 0px 0px 5px;
}
.mobile-tips{
    aspect-ratio: 1/0.2;
}
